.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

table {
  background-color: lightgray;;
  text-align: left;
  width: 200px;
  margin-right: 24px;
}

tr > td {
  background-color: white;
  padding: 0 8px;
  width: 50%;
}

.card {
  cursor: pointer;
}

.takenCards {
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgray;;
  margin-bottom: 24px;
  margin-top: 24px;
}

.takenCard {
  background-color: white;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}